body {
  padding-top: 170px;
  height: 850px;
  background: linear-gradient(45deg, yellow, firebrick 60%);          
  background-size: cover;
}

.marquee {
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 30s linear infinite;
    color: black;
    font-size: 3em;
}

.marquee:hover {
    animation-play-state: paused
}
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}
button{
    background-color: lightgrey;
    width:100px;
    height:50px;
}

