<!DOCTYPE html>
<html ng-app="myApp">

<head>
  window.HELP_IMPROVE_VIDEOJS = false;
  <title>Greengo Golf</title>
  <link rel="stylesheet" href="main.css">
  <!--<link href="//vjs.zencdn.net/5.4.6/video-js.min.css" rel="stylesheet">-->
  <!--<script src="//vjs.zencdn.net/5.4.6/video.min.js"></script>-->
</head>

<body>
  <header id="top" class="main-header">
    <span class="title">Greengo Golf</span>
    <h1>Put Your Golf Swing Out There! </h1>
    <img class="arrow" src="arrow.svg" alt="Down arrow">
  </header>

  <div class="primary-content t-border">
    <p class="intro">
      Greengo Golf allows you to upload your golf swing video for others to give you pointers on how to improve your golf swing.
    </p>
    <a class="callout" href="#more">Find out more</a>
    <div ng-controller="HomeCtrl as controller" class="videogular-container">
      <videogular vg-theme="controller.config.theme">
        <vg-media vg-src="controller.config.sources" vg-tracks="controller.config.tracks">
        </vg-media>

        <vg-controls>
          <vg-play-pause-button></vg-play-pause-button>
          <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-cue-points vg-cue-points='config.cuePoints[0]'></vg-scrub-bar-cue-points>
          </vg-scrub-bar>
          <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
          <vg-volume>
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
          </vg-volume>
          <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>

        <vg-overlay-play></vg-overlay-play>
        <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
      </videogular>
    </div>
    <div ng-controller="ModalController as modalCtrl">
      <button ng-click="modalCtrl.openModal();">Open Modal</button>
      <button ng-click="modalCtrl.saveModal()">Save Screen Shot</button>
      <div id='modalBox' onclick='moveModal();' ng-show="modalCtrl.editing" ng-style="modalCtrl.modalBoxStyles">
        <canvas id='canvas'></canvas>
        <textarea class="tips" ng-Label="Golf Tips" type="text" placeholder="Enter Golf Tips:" ng-model="modalCtrl.canData.tips">
        </textarea>
        <span class="close" ng-click="modalCtrl.Close()">X</span>
      </div>
      <!--Edited Sreen Area-->
      <div id="screenSavesContext">
        <h3>{{modalCtrl.canData[0].imgGName}}</h3>
        <ul class="makeLeft">
          <li ng-repeat="imageData in modalCtrl.canData" style="list-style:none" class="imgContainer"> {{$index}}
            <img  ng-src="{{imageData.imgData}}" ng-click="modalCtrl.loadSnapshot($index, imageData, imageData.imgComments, $event)" class="snapshot">
          </li>
        </ul>
      </div>
    </div>


    <a class="callout" href="">See the golf swing</a>
  </div>


  <footer class="main-footer">
    <p>All rights reserved Greengo Golf</p>
    <a href="#top">Back to top &raquo;</a>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-sanitize.js"></script>
  <script src="/bower_components/videogular/videogular.js"></script>
  <script src="/bower_components/videogular-controls/vg-controls.js"></script>
  <script src="/bower_components/videogular-overlay-play/vg-overlay-play.js"></script>
  <script src="/bower_components/videogular-poster/vg-poster.js"></script>
  <script src="/bower_components/videogular-buffering/vg-buffering.js"></script>
  <script src="/main.js"></script>
</body>

</html>