/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  color: #878787;
  margin: 0;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {  
  font-size: 5.625rem; /* 90px/16px  */
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.3; 
  text-shadow: 0 1px 1px rgba(0,0,0,.8);
}

h2 {
  font-size: 3.3125em; /* 53px/16px  */
  font-weight: normal;
  line-height: 1.1;
  margin: 0 0 .5em; /* 0 0 26px */
}

h3 {
  font-size: 1.25em; /* 20px/16px  */
  color: #48525c;
  line-height: 1.2;
  margin-bottom: 1.7em; /* 34px */
}

img {
  max-width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
}

ul,
ol {
  margin: 30px 0;
}

li {
  margin-bottom: 10px;
}

/* Pseudo-classes ------------------ */

a:link {
  color: rgb(255, 169, 73);
  text-decoration: none;
}

a:visited {
  color: lightblue;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}

/* Main Styles --------------------- */

.main-header {
  padding-top: 100px;
  height: 450px;
  background: linear-gradient(#009944, transparent 10%),
              linear-gradient(0deg, #fff, transparent),
               #009944 url('download.jpeg') no-repeat center;
  background-size: cover;
}

.title {
  color: white;
  font-size: 1.625rem; /* 26px/16px */
}

.intro {
  font-size: 1.25em; /* 20px/16px */
  line-height: 1.6;  
}

.primary-content,
.main-header,
.main-footer {
  text-align: center;
}

.primary-content {
	padding-top: 25px;
  padding-bottom: 95px;
}

.secondary-content {
	padding-top: 80px;
	padding-bottom: 70px;
  border-bottom: 2px solid #dfe2e6;
}

.callout {
  font-size: 1.25em;
  border-bottom: 3px solid;
  padding: 0 9px 3px;
  margin-top: 20px;
  display: inline-block;
}

.main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px solid #ffa949;
}

.t-border {
  border-top: 2px solid #dfe2e6;
}

/* Layout Styles ------------------ */

.primary-content, 
.secondary-content {
  width: 75%;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  max-width: 960px;
}

.wildlife {
  color: white;
  text-align: left;
  padding: 18% 24%;
  border-top: 10px solid #ffa949;
  margin: 105px 0 60px;
  background: #434a52 url('../img/bear.jpg') no-repeat center;
  background-size: cover;
  box-shadow: inset 0 0 50px 10px rgba(0,0,0, .8);
  border-radius: 10px;
}

.arrow {
  width: 50px;
}

/* Floated Columns ------------------ */

.resorts,
.tips {
  width: 46.5%;
}

.tips {
  float: left;
}

.resorts {
  float: right;
}

/* Float Clearfix ------------------ */

.group:after {
  content: "";
  display: table;
  clear: both;
}
 
/*Caption Window*/
#modalBox {
    position: fixed;
    top: 30px;   
    left: 300px;
    /*width: 400px;*/
    /*height: 695px;*/
    /*border: 10px solid red;*/
    border-radius: 15px;
   /* box-shadow: 5px 5px 5px 5px gray;*/    
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: 590px;
    right: 20px;
  
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#screenSavesContext{
  position: relative;
  min-height:200;
  border: 5px solid red;    
}
.makeLeft{
  text-align: left;
}
.snapshot {
  margin-right: 2px;
  height: 80px;
  width: 50px;
  
}
.imgContainer{
  display: inline-block;
  text-align: left;

}
#canvas {
  /*width: 100%;
  height: 75%;*/
  margin-bottom: -6px;
	border-radius: 15px;
  /*border-top-right-radius: 15px;*/
  
}
.tips {
    height:25%;
    width: 100%;
    margin: 0px;
    background-color: orange;
    border-radius: 15px;
    overflow-wrap: normal;
    overflow: wrap;
    display: inline;
    font-size: medium;
    color: black;
}
/*VideOgular stuff*/

vg-overlay-play{
left:0;

}

.videogular-container {
	width: 100%;
	height: 320px;
	margin: auto;
	overflow: hidden;
}
 
@media (min-width: 1200px) {
	.videogular-container {
		/*width: 1170px;*/
		/*height: 658.125px;*/
    width: 819px;
    height: 460.687px;
	}
}
 
@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		/*width: 940px;*/
		/*height: 528.75px;*/
    width: 658px;
    height: 370.125px;
	}
}
 
@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		/*width: 728px;*/
		/*height: 409.5px;*/
    width: 509.6px;
    height: 286.65px;
	}
}